<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script defer src="assets/js/alumnos.js"></script>
    <script defer src="assets/js/documentacion.js"></script>
    <script defer src="assets/js/cursos.js"></script>

    <title>Formulario Alumnos</title>
</head>

<body>