{{> head }}


{{> navbar }}


 <div class="container cursos-container border">
      <div class="container my-3 border form-container-cursos">
        <h2>Cursos</h2>
        <form class="form-cursos" action="#">
          <p>ID: <span class="lbl-id"></span></p>
          <div class="form-group">
            <label for="establecimiento">Establecimiento:</label>
            <input
              type="establecimiento"
              id="txt-establecimiento"
              class="form-control"
              placeholder="Ingrese el establecimiento"
              name="establecimiento"
            />
          </div>
          <div class="form-group">
            <label for="nombreDelCurso">Nombre del curso:</label>
            <input
              type="text"
              id="txt-curso-nombre"
              class="form-control"
              placeholder="Ingrese el nombre del curso"
              name="nombre del curso"
            />
          </div>
          <div class="form-group">
            <label for="fechaDesde">Desde:</label>
            <input
              type="text"
              id="txt-fecha-hasta"
              class="form-control"
              placeholder="Ingrese la fecha"
              name="fecha desde"
            />
          </div>
          <div class="form-group">
            <label for="fechaHasta">Hasta:</label>
            <input
              type="text"
              id="txt-fecha-hasta"
              class="form-control"
              placeholder="Ingrese la fecha"
              name="fecha hasta"
            />
          <div class="form-group">
            <label for="alumnos">Alumnos:</label>
            <input
              type="text"
              id="txt-alumno"
              class="form-control"
              placeholder="Ingrese el alumno"
              name="alumno"
            />
          </div>
          <div class="form-group">
            <label for="nstructores">Instructores:</label>
            <input
              type="text"
              id="txt-instructor"
              class="form-control"
              placeholder="Ingrese el instructor"
              name="instructor"
            />
          </div>
          <div class="form-group">
            <label for="fechaHasta">Horarios:</label>
            <form>
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Ingrese el dia"
                  />
                </div>
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Horario de entrada"
                  />
                </div>
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Horario de salida"
                  />
                </div>
              </div>
            </form>
          </div>
          <button type="button" class="btn-guardar-cursos btn btn-primary">
            Guardar
          </button>
          <button type="button" class="btn-actualizar-cursos btn btn-primary">
            Actualizar
          </button>
          <button type="button" class="btn-limpiar-cursos btn btn-primary">
            Limpiar
          </button>
        </form>
        <div class="container tabla my-2 py-2 lista-cursos">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Establecimiento</th>
                <th scope="col">Nombre del curso</th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
                <th scope="col">Alumnos</th>
                <th scope="col">Instructores</th>
                <th scope="col">Horarios</th>
              </tr>
            </thead>

            <tbody class="filas-cursos">
              <!-- <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>-->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {{> footer }}